@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav pull-right top-menu">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="img/avatar1_small.jpg">
                <span class="username">Hello @User.Identity.Name!</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                @if (User.IsInRole("Admin") || User.IsInRole("Operator"))
                {
                    <li><a asp-controller="UserList" asp-action="UserList"><i class="fa fa-cog"></i> User List</a></li>
                }
                    @*<li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>*@
                <li>
                    <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-key"></i> Log Out</button>
                    </form>

                </li>
            </ul>
        </li>
        @*<li class="nav pull-right top-menu">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>*@



        @*<li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
