
@model ProjectManagement.Models.PersonalInformationViewModel
@inject IUtility _Utility

<div class="xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="title">
                        <h4>Add known Clients</h4>

                        <div>
                            <form method="post" asp-action="AddOrEdit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                @*<div class="col-xl-3 col-md-4 col-12">*@
                                <input asp-for="Id" type="hidden" />
                                <div class="col-xl-3 col-md-3 col-12">
                                    <label asp-for="Name" class="conrol-label"></label>
                                    <input asp-for="Name" class="form-control"></input>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-xl-3 col-md-3 col-12">
                                    <label asp-for="PhoneNumber" class="conrol-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control"></input>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="col-xl-3 col-md-3 col-12">
                                    <label asp-for="Email" class="conrol-label"></label>
                                    <input asp-for="Email" , placeholder="gmail.com" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-xl-3 col-md-3 col-12">
                                    <label asp-for="Address" class="conrol-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="col-xl-3 col-md-4 col-12">
                                    <label asp-for="StateId" class="control-label"></label>
                                    <select asp-for="StateId" asp-items="await _Utility.GetSelectListState()" class="form-control">
                                        <option value="">--Please select State--</option>
                                    </select>
                                    <span asp-validation-for="StateId" class="text-danger"></span>
                                </div>

                                <div class="col-xl-3 col-md-4 col-12">
                                    <label asp-for="DistrictId" class="control-label"></label>
                                    <select asp-for="DistrictId" asp-items="await _Utility.GetDistrictSelectListItems()" class="form-control">
                                        <option value="">--Please select District--</option>
                                    </select>
                                    <span asp-validation-for="DistrictId" class="text-danger"></span>
                                </div>

                                <div class="col-xl-3 col-md-4 col-12">
                                    <label asp-for="PalikaId" class="control-label"></label>
                                    <select asp-for="PalikaId" asp-items="await _Utility.GetPalikaSelectListItems()" class="form-control">
                                        <option value="">--Please select Palika--</option>
                                    </select>
                                    <span asp-validation-for="PalikaId" class="text-danger"></span>
                                </div>


                                <div class="col-xl-4 col-md-4 col-12">
                                    <label asp-for="Reference" class="conrol-label"></label>
                                    <input asp-for="Reference" , placeholder="who do you got refrence from?" class="form-control"></input>
                                    <span asp-validation-for="Reference" class="text-danger"></span>
                                </div>

                                <div class="col-xl-4 col-md-4 col-12">
                                    <label asp-for="CurrentScope" class="conrol-label"></label>
                                    <input asp-for="CurrentScope" , placeholder="Scope for this Fiscal year" class="form-control"></input>
                                    <span asp-validation-for="CurrentScope" class="text-danger"></span>
                                </div>

                                <div class="col-xl-4 col-md-4 col-12">
                                    <label asp-for="FutureScope" class="conrol-label"></label>
                                    <input asp-for="FutureScope" , placeholder="Scope for future" class="form-control"></input>
                                    <span asp-validation-for="FutureScope" class="text-danger"></span>
                                </div>

                                <div class="col-xl-3 col-md-4 col-12">
                                    <label asp-for="Remarks" class="conrol-label"></label>
                                    <textarea asp-for="Remarks" , placeholder="Add your Remarks" class="form-control"></textarea>
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                                <button type="button" id="btnAddRequire" style=" margin-top: 62px;" class="btn btn-primary pull-right mb-30"><i class="fa fa-plus"></i> Add</button>
                                <div id="newRequire" style="margin-top:60px;">
                                    <table style="margin-top: 180px!important;" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Requirement</th>
                                                <th>Status</th>
                                            </tr>



                                        </thead>

                                        <tbody style="padding-top:1rem;" id="transactionbody">
                                            @if (Model.PersonalInformationViewModel.Count > 0)
                                            {
                                                foreach (var item in Model.PersonalInformationViewModel)
                                                {
                                                    <partial name="~/Views/PersonalInformation/_AddConcern.cshtml" model="@item" />
                                                }
                                            }
                                            else
                                            {
                                                <partial name="~/Views/PersonalInformation/_AddConcern.cshtml" model="@new RequirementViewModel()" />
                                            }
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>
                                </div>

                                @*<div class="col-xl-3 col-md-4 col-12">
                @if (Model.Id == 0)
                {
                    <input asp-for="File" accept="image/png, image/jpeg, image/gif" class="form-control" required /> }
                else
                {
                    <input asp-for="File" accept="image/png, image/jpeg, image/gif" class="form-control" />
                }
                <input asp-for="Path" type="hidden" />
                <span asp-validation-for="File" class="text-danger"></span>
        </div>*@
                                <div class="row col-md-12">
                                    <input type="submit" style=" margin-top:22px; value="Save" class="btn btn-primary pull-right mb-30" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/nepali.datepicker.v3.7/js/nepali.datepicker.v3.7.min.js"></script>



@section Scripts {

  

    <script>
        $('#StateId').change(function () {
            debugger;
            $.ajax({
                url: '@Url.Action("GetDistrictByStateId", "Ajax", new { area = "" })',
                type: 'GET',
                data: { id: $(this).val() },
                success: function (data) {
                    $('#PalikaId').empty().append("<option value=''>-न.पा/ग.पा छान्नुहोस्-</option>");
                    $('#DistrictId').empty().append("<option value=''>-जिल्ला छान्नुहोस्-</option>");
                    $.each(data, function (index, item) {
                        $('#DistrictId').append(`<option value="${item.value}">${item.text}</option>`);
                    });
                },
                error: function () {
                    alert('error in calling ajax !!');
                }
            });
        });

        $('#DistrictId').change(function () {
            debugger;
            $.ajax({
                url: '@Url.Action("GetPalikaByDistId", "Ajax", new { area = "" })',
                type: 'GET',
                data: { id: $(this).val() },
                success: function (data) {
                    $('#PalikaId').empty().append("<option value=''>-न.पा/ग.पा छान्नुहोस्-</option>");
                    $.each(data, function (index, item) {
                        $('#PalikaId').append(`<option value="${item.value}">${item.text}</option>`);
                    });
                },
                error: function () {
                    alert('error in calling ajax !!');
                }
            });
        });



        var dobNp = document.getElementById("BsStartDate");
        dobNp.nepaliDatePicker({
            ndpYear: true,
            ndpMonth: true,
            readOnlyInput: true,
            //disableAfter: GetNepaliCurrentDate(),
            onChange: function () {
                $('#AdStartDate').val(GetAdDateFromNepaliDate($('#BsStartDate').val()));
            }
        });

        var dobNp1 = document.getElementById("BsEndDate");
        dobNp1.nepaliDatePicker({
            ndpYear: true,
            ndpMonth: true,
            readOnlyInput: true,
            //disableAfter: GetNepaliCurrentDate(),
            onChange: function () {
                $('#AdEndDate').val(GetAdDateFromNepaliDate($('#BsEndDate').val()));
            }
        });

        function GetNepaliCurrentDate() {
            var selectedDate = NepaliFunctions.GetCurrentBsDate();
            var month = (selectedDate.month.toString().length == 2) ? selectedDate.month : '0' + selectedDate.month;
            var day = (selectedDate.day.toString().length == 2) ? selectedDate.day : '0' + selectedDate.day;
            var date = selectedDate.year + '-' + month + '-' + day;
            return date;
        }

        function GetAdDateFromNepaliDate(nepaliDate) {
            if (nepaliDate.trim()) {
                var aa = nepaliDate.split('-');
                var selectedDate = NepaliFunctions.BS2AD({ year: aa[0], month: aa[1], day: aa[2] });
                var adDate = new Date(`${selectedDate.year}-${selectedDate.month}-${selectedDate.day}`);
                return adDate.toLocaleDateString('en-CA');
            }
        }
     

    </script>

}

